<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<style>
	video {
		width: 500px;height:375px;border: 10px solid #ccc;
		/*display: none;*/
	}
  canvas {
    border: 10px solid #ccc;
  }
	</style>
</head>
<body>
	<h2 id="info">有人吗？？？</h2>
	<canvas width="500" height="375" id="can1"></canvas>
	<!-- <canvas width="500" height="375" id="can2"></canvas> -->
	<!-- <canvas width="500" height="375" id="re"></canvas> -->
	<video></video>

	<script>
		var img = new Image();
		img.src = './moustache.png'

    var ws = new WebSocket('wss://nothingisblue.com/ws');
    ws.onopen = function () {
				// ws.send('Hello Server!');
		}
		ws.onclose=function(e){
			console.log(e);
			ws.close(); //关闭TCP连接
		};

		window.onbeforeunload = function () {
			ws.close(); //关闭TCP连接
		}


		var canvas = document.getElementById('can1')
		var v = canvas.getContext('2d')
		// 差不多的变量
		var lastFrame = null

		navigator.getUserMedia =
			navigator.getUserMedia ||
			navigator.webkitGetUserMedia ||
			navigator.mozGetUserMedia

		if (navigator.getUserMedia) {
			navigator.getUserMedia(
				{ video: { width: 500, height: 500 } },
				function(stream) {
					var video = document.querySelector('video')
					video.srcObject = stream
					video.onloadedmetadata = function(e) {
						video.play()
						setInterval(function() {
							drawCanvas(video)
						}, 500)
					}
				},
				function(err) {
					console.log('The following error occurred: ' + err.name)
				}
			)
		} else {
			console.log('getUserMedia not supported')
		}

		function drawCanvas(video) {
			v.drawImage(video, 0, 0, 500, 375)
			vData = v.getImageData(0, 0, 500, 375)
			var datauri = canvas.toDataURL('image/jpeg');
			var b64 = datauri.split(",", 2)[1];
			// console.log(a)
			ws.send(base64ToArrayBuffer(b64))

			function drawOther (event) {
				if (!event.data) return
				// var data = event.data;
				let temp = event.data ? JSON.parse(event.data) : ''

				if (temp) {
					let mouth = temp[0].mouth[0]
					v.drawImage(video, 0, 0, 500, 375)
					v.drawImage(img, mouth.x - 25 + mouth.width / 2 , mouth.y, 50, 13)
					v.strokeStyle = '#fff';
					v.strokeRect(mouth.x, mouth.y, mouth.width, mouth.height);
				}
			}

			ws.onmessage = drawOther

			vLength = vData.length
			vH = 375
			vW = 500

			function base64ToArrayBuffer(base64) {
				var bstr = window.atob(base64);
				var bytes = new Uint8Array(bstr.length);
				for (var i = 0; i < bstr.length; i++)        {
					bytes[i] = bstr.charCodeAt(i);
				}
				return bytes.buffer;
			}

		function haveMove(video) {
			v.drawImage(video, 0, 0, 500, 375)
			var proData = v.getImageData(0, 0, 500, 375)
			// console.log(proData)
			var nowData = new Image()
			var x = 0
			nowData.onload = function() {
				console.log('加载好了')
			}
			setTimeout(function() {
				nowData = v.getImageData(0, 0, 500, 375)
				for (var i = 0; i < proData.data.length; i++) {
					if (Math.abs(proData.data[i] - nowData.data[i]) > 10) {
						x++
					}
				}
				// console.log(x)
				if (x > proData.data.length / 200) {
					console.log('有人在动！！')
					document.getElementById('info').innerHTML = '有人在！！'
				} else {
					document.getElementById('info').innerHTML = '没人~'
				}
			}, 500)
		}
	}

	</script>
</body>
</html>